.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-2-square:hover{
    width: 700px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-4-square:hover{
    background-color: lightgrey;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 1s;
}

.ex-5-square:hover{
    padding: 50px 50px;
}

.ex-5-square:active{
    transform: scale(.1) ;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: background-color 2s, 2s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

/*ES7 IMG*/

.ex-8-img:hover{
    filter: saturate(100px);
    filter: grayscale(100%);
    border-radius: 40%;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: background-color 2s, 2s;
}

.ex-9-img:hover{
    filter: sepia(100%);
    filter: brightness(100px);
    border-radius: 50%;
    scale: 1.5;
}

/*animazioni*/

.ex-10-icon {
    font-size: 60px;
    animation-name: ex10;
    animation-duration: 5s;
}

@keyframes ex10{
    0% {
        transform: rotate(2turn);
    }
}

.ex-11-icon {
    font-size: 60px;
    animation-name: ex11;
    animation-duration: 3s;
}

.ex-11-icon:hover{
    animation: rotate;
}

@keyframes ex11{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(275deg);
    }
    10%{
        transform: rotate(0deg);
    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation: ex12top 2s;
}
@keyframes ex12top {
    0% {
        left: 10%;
    }
    50% {
        left: 65%;
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: ex12bot 2s;
}
@keyframes ex12bot {
    0% {
        right: 10%;
    }
    50% {
        right: 65%;
    }
    100% {
        right: 10%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: ex13top 3s;
}

@keyframes ex13top{
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: ex13bot 3s;
}
@keyframes ex13bot{
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}